body{
    background: white; 
    font-family: monospace;
    font-size: 16px;
}

.p-justified{
    text-align: justify;
}

.leftSection{
    margin-top: 100px;
}

.rightSection{
    margin-top: 25px;
}

.navBarVertical{
    font-size: 18px;
    font-weight: bold;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 20px;     
}

.navBar{
    text-align: center;
    font-size: 18px; 
    font-weight: bold;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

footer{
    left: 0;
    padding-top: 150px;
    width: 100%;
    text-align: center;
}

.responsive-img{
    margin: 0 auto;
}

nav a{
    color: #495057;
}

/* Pictures CSS*/

.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}

/*Projects CSS*/

.full-width{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-projects{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #495057;
}

.progressbar-button-aligned{    
    padding-left: 0px;
    padding-right: 0px;
    height: 30px; 
    margin-top: 7px; 
}


