body{
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
}

.p-justified{
    text-align: justify;
}

/* Header */

.navigation-links a {
    color: black;
    text-decoration: underline;
}

/* intro */

hr {
    height: 2px;
    background: rgb(0, 0, 0);
}

/* Posts List */

.post-title{
    font-style:italic;
}

.post-title a{
    color: rgba(255, 0, 0, 0.692);
}

/* Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.post-footer {
    bottom: 0;
    width: 100%;
    height: 150px;
}