body{
    background: white; 
    font-family: monospace;
    font-size: 16px;
}

.p-justified{
    text-align: justify;
}

.leftSection{
    margin-top: 100px;
}

.rightSection{
    margin-top: 25px;
}

.navBar{
    margin-left: 60px;
    margin-top: 45px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 20px;
    width: 100%;
    text-align: center;
}

